.project_card {
  display: flex;
  border-bottom: 1px solid;
  border-color: #64ffda;
}

.project_card:nth-child(even) {
  flex-direction: row-reverse;
}

.project_text {
  text-align: right;
}

.project_card:nth-child(even) > .project_text {
  text-align: left;
}

.project_tag {
  display: flex;
  justify-content: flex-end;
}

.project_card:nth-child(even) > .project_text > div {
  justify-content: flex-start;
}
